[v-cloak] {
    display: none;
}

#configApp {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
}

.top-container {
    margin-top: 50px;
}

.save-button {
    margin-top: 20px;
    text-align: center;
}

.save-button button {
    padding: 1.5em;
    font-size: 1em;
}

.member {
    text-align: center;
    width: 22.5%;
    padding: 0 1.25%;
    padding-bottom: 20px;
    margin-bottom: 30px;
    display: inline-grid;
}

.member img {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.member img:hover {
    cursor: pointer;
}

.member_name {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding: 0.7em 0;
    color: #6441a4;
    background-color: #efeef1;
}

.add {
    text-align: center;
    width: 22.5%;
    padding: 0 1%;
    padding-bottom: 20px;
    display: inline-grid;
}

.add img {
    max-width: 90%;
    margin: 0 auto;
    opacity: 0.1;
}

.add img:hover {
    cursor: pointer;
    opacity: 0.9;
}

.add input {
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
    height: 17px;
    width: 80%;
}

.btn {
    margin-top: 5px;
    width: 80%;
    background-color: #efeef1;
    color: #6441a4;
}

.btn:hover {
    background-color: #d7cceb;
}

button.btn {
    padding: 1em;
    text-align: center;
    border: none;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: #b71c1c;
    color: #fff;
}
