[v-cloak] {
    display: none;
}

#configApp {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container {
    max-width: 1000px;
}

.save-button {
    margin-top: 20px;
    text-align: center;
}

.save-button button {
    padding: 1.5em;
    font-size: 1em;
}

.member {
    text-align: center;
    width: 22.5%;
    padding: 0 1.25%;
    padding-bottom: 20px;
    display: inline-block;
}

.member img {
    max-width: 80%;
    margin-top: 10px;
}

.add {
    text-align: center;
    width: 22.5%;
    padding: 0 1%;
    padding-bottom: 20px;
    display: inline-block;
}

.add img {
    max-width: 80%;
}

.add img:hover {
    cursor: pointer;
}

.add input {
    max-width: 100%;
    padding: 5px;
    height: 17px;
    width: 80%;
}

